In [35]:
import mysql.connector
import pandas as pd
import statistics as st
from datetime import datetime as dt
from datetime import timedelta
db_connection = mysql.connector.connect(user='root', password='Gregory2',host='localhost',
                                     port='3306', database='pbl3210 db2')

In [23]:
stockidtab=pd.read_sql_query("SELECT * FROM STOCK_ID",db_connection)
stockpricetab=pd.read_sql_query("SELECT * FROM STOCKPRICE",db_connection)
stockearningstab=pd.read_sql_query("SELECT * FROM EARNINGS",db_connection)

In [24]:
zeelist=[]
for i in stockearningstab["z_score"]:
    try:
        zeelist.append(float(i))
    except TypeError:
        zeelist.append(i)
stockearningstab["z_score"]=zeelist

In [25]:
def stockvaluetable(Ticker):
    for i in stockidtab.index:
        if stockidtab.at[i,"ticker"]==Ticker:
            id_value=stockidtab.at[i,"stock_id"]
    df=stockpricetab[stockpricetab["stock_id"]==id_value]
    df.index=df["Date"]
    return df

In [26]:
def stocksurprisetable(Ticker):
    for i in stockidtab.index:
        if stockidtab.at[i,"ticker"]==Ticker:
            id_value=stockidtab.at[i,"stock_id"]
    df2=stockearningstab[stockearningstab["stock_id"]==id_value]
    return df2

In [27]:
Ticker=input("Please input the ticker you are looking for\n")

Please input the ticker you are looking for
MMM

In [28]:
values=stockvaluetable(Ticker)
surprises=stocksurprisetable(Ticker)
print(values)

            stock_id        Date    Price
Date
1990-01-02         1  1990-01-02   19.366
1990-01-03         1  1990-01-03   19.577
1990-01-04         1  1990-01-04   19.727
1990-01-05         1  1990-01-05   19.396
1990-01-08         1  1990-01-08   19.908
...              ...         ...      ...
2020-02-12         1  2020-02-12  163.800
2020-02-13         1  2020-02-13  159.760
2020-02-14         1  2020-02-14  161.010
2020-02-18         1  2020-02-18  158.880
2020-02-19         1  2020-02-19  159.340

[7592 rows x 3 columns]

In [29]:
z_score_standardised=[]
z_score_values=[]
for i in surprises.index:
    z_score_values.append(surprises.at[i,"z_score"])
mean=st.mean(z_score_values)   
sd=st.stdev(z_score_values)
for i in z_score_values:
    z_score_standardised.append((i-mean)/sd)
z_score_standardised  
surprises["z_score_standardised"]=z_score_standardised

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [30]:
dirlist=[]
for i in surprises.index:
    if surprises.loc[i,"z_score"]==0:
        dirlist.append("No Surprise")
    elif surprises.loc[i,"z_score"]>0:
        dirlist.append("Positive")
    elif surprises.loc[i,"z_score"]<0:
        dirlist.append("Negative")
    else:
        dirlist.append(None)

In [31]:
surprises["Direction"]=dirlist

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [32]:
surprises

,stock_id,Quarter,Date,Median,Actual,StdDev,z_score,z_score_standardised,Direction
0,1,1999Q1,1999-04-30,0.4700,0.475,0.01400,0.357143,-0.345947,Positive
1,1,1999Q2,1999-07-29,0.5000,0.515,0.00700,2.142857,0.410922,Positive
2,1,1999Q3,1999-10-25,0.5250,0.570,0.00800,5.625000,1.886818,Positive
3,1,1999Q4,2000-01-26,0.5025,0.550,0.00799,5.944931,2.022420,Positive
4,1,2000Q1,2000-04-25,0.5400,0.565,0.00433,5.773672,1.949832,Positive
...,...,...,...,...,...,...,...,...,...
79,1,2018Q4,2019-01-29,2.2800,2.310,0.02309,1.299264,0.053368,Positive
80,1,2019Q1,2019-04-25,2.4900,2.230,0.06600,-3.939394,-2.167022,Negative
81,1,2019Q2,2019-07-25,2.0550,2.130,0.08415,0.891266,-0.119561,Positive
82,1,2019Q3,2019-10-24,2.5100,2.580,0.05706,1.227129,0.022794,Positive
83,1,2019Q4,2020-01-28,2.1000,1.950,0.06103,-2.457808,-1.539056,Negative

In [47]:
maglist=[]
for i in z_score_values:
    if i==0:
        maglist.append("No Surprise")
    elif abs(i)>0:
        if abs(i)<=1:
            maglist.append("Small")
        elif abs(i)>1:
            if abs(i)<=2:
                maglist.append("Medium")
            else:
                maglist.append("Large")
    else:
        maglist.append(None)
      
surprises["Magnitude"]=maglist  
surprises
for i in surprises:
    print(i)

stock_id
Quarter
Date
Median
Actual
StdDev
z_score
z_score_standardised
Direction
Magnitude

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()

In [49]:
#surprises and values, Date and Price
direc=input("Positive or Negative?")
mag=input("Small, Medium or Large?")
for i in surprises.index:
    try:
        if surprises.iloc[i]["Direction"]==direc and surprises.iloc[i]["Magnitude"]==mag:
            try:
                print("On",surprises.loc[i]["Date"],"\n The one day price change was",values.at[(surprises.loc[i]["Date"]+timedelta(days=1)),"Price"]-values.at[surprises.loc[i]["Date"],"Price"],"\n The 20 day price change was",values.at[(surprises.loc[i]["Date"]+timedelta(days=20)), "Price"]-values.at[surprises.loc[i]["Date"], "Price"],"\n And the 100 day price change was",values.at[(surprises.loc[i]["Date"]+timedelta(days=100)), "Price"]-values.at[surprises.loc[i]["Date"], "Price"],"\n")
            except KeyError:
                try:
                    print("On",surprises.loc[i]["Date"],"\n The one day price change was",values.at[(surprises.loc[i]["Date"]+timedelta(days=1)),"Price"]-values.at[surprises.loc[i]["Date"],"Price"],"\n And the 20 day price change was",values.at[(surprises.loc[i]["Date"]+timedelta(days=50)), "Price"]-values.at[surprises.loc[i]["Date"], "Price"],"\n")
                except KeyError:
                    print("On",surprises.loc[i]["Date"],"\n The one day price change was",values.at[(surprises.loc[i]["Date"]+timedelta(days=1)),"Price"]-values.at[surprises.loc[i]["Date"],"Price"],"\n")
    except KeyError:
        continue

SyntaxError: invalid syntax (<ipython-input-49-fac9d4650816>, line 14)